@import "other/reset";

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  background: #E5E5E5;
}

h3{
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.bodywrapper{
  position: relative;
  padding: 30px 40px;
  margin: 0 0 0 370px;
}

.bodywrapper.collapse{
  margin: 0 0 0 140px;
}

.sidebar{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: #0043C4;
  min-height: 100vh;

  &-collapse{
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.15s ease;

    .icon-arrow{
      fill: #fff;
      width: 12px;
      height: 12px;
      margin: 0 15px 0 0;
      transform: rotate(270deg);
    }
  }

  &--item{
    padding: 11px 12px;
    margin: 0 0 10px 0;
    opacity: 0.6;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;

    &:hover{
      opacity: 1;
      background: #1956CA;
    }

    .icon-item{
      fill: #fff;
      min-width: 14px;
      width: 14px;
      height: 14px;
      margin: 0 20px 0 0;
    }
  }
  &--item.active{
    opacity: 1;
    background: #0037A2;

    &:hover{
      background: #1956CA;
    }
  }

  &-setlayout{
    width: 40px;
    height: 40px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    &.active{
      background: #0037A1;
    }
  }
}

.sidebar-left{
  height: 100vh;
  width: 70px;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-right{
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.15s ease;

  &-items{
    padding: 20px;
    box-sizing: border-box;
  }
}

.sidebar-right.collapse{
  width: 70px;

  .sidebar--item{
    justify-content: center;

    span{
      display: none;
    }
  }

  .sidebar--item{
      position: relative;

      &:hover{

        span{
          position: absolute;
          display: block;
          width: max-content;
          top: 5px;
          left: calc(~"100% + 15px");
          z-index: 5;
          background: rgba(0, 0, 0, 0.8);
          padding: 5px;
          box-sizing: border-box;
          border-radius: 5px;

          &:before{
            border: 5px solid transparent;
            border-right: 5px solid rgba(0, 0, 0, 0.8);
            content: '';
            position: absolute;
            left: -10px;
            top: 8px;
          }
        }
      }
  }

  .sidebar-right-items{
    padding: 20px 10px;
  }

  .sidebar-collapse{
    span{
      display: none;
    }
  }

  .icon-item{
    margin: 0;
  }

  .icon-arrow{
    margin: 0;
    transform: rotate(90deg);
  }
}

.logo{
    margin: 17px 0 44px 0;
}


//fleксим
.f{
  display: flex;
}

.j-sp{
  justify-content: space-between;
}

.fw{
  flex-wrap: wrap;
}

//shortStyle
.w100{
  width: 100%;
}
.w50{
  width: calc(~"50% - 15px");
}
.testBlock1{
  height: 205px;
}
.m30{
  margin: 0 0 30px 0;
}
//блоки

.block{
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #999999;

  &-title{
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 7px 0;
    color: #000000;
  }

  .blockData:nth-child(2){
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
  }
}

.blocks-top{
  margin: 0 0 56px 0;

    h3{
      margin: 0 45px 0 0;
    }

  &>div{
    margin: 0 45px 0 0;
  }
}

.blockData{
  padding: 28px 38px;

  &-title{
    font-size: 12px;
    line-height: 14px;
    color: #999999;
  }
  &-count{
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    color: #4F4F4F;

    span{
      font-size: 12px;
      line-height: 14px;
      color: #BDBDBD;
    }
  }
  &-procent{
    font-size: 12px;
    line-height: 14px;
    color: #EB5757;

    .icon-arrow{
      width: 11px;
      height: 11px;
      fill: #EB5757;
      transform: rotate(180deg);
    }

  }
  &-procent.plus {
    color: #219653;

    .icon-arrow{
      transform: rotate(0);
      fill: #219653;
    }
  }
}

//Кнопки, форма и тд
.button{
  color: #0043C4;
  padding: 12px 15px;
  box-sizing: border-box;
  border: 2px solid #0043C4;
  border-radius: 10px;
  height: fit-content;
}

.button-fill{
  .button;
  color: #fff;
  background: #0043C4;
}

input{
  margin: 0 5px 0 0;
  padding: 12px 12px 12px 44px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }
}

.datepicker{
  input{
    background-image: url(/images/input_date.png);
    background-repeat: no-repeat;
    background-position: 12px center;
  }
}

//прелоадер
.preloader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);

  img{
    animation: loading-preloader 0.6s infinite ease-in;
  }
}

@keyframes loading-preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//chart

.blockChart{
  padding: 20px 30px;
  box-sizing: border-box;

  .chart{
    margin: 34px 0 0 0;
  }
}