<template>
    <div class="sidebar">
        <div class="sidebar-left">
            <img src="/images/logo.png" class="logo" alt="">

            <button class="sidebar-setlayout" :class="{active: (sidebar.layout == 1)}" v-on:click="setLayout(1)">1</button>
            <button class="sidebar-setlayout" :class="{active: (sidebar.layout == 2)}" v-on:click="setLayout(2)">2</button>
        </div>

        <div class="sidebar-right" :class="{collapse: sidebar.collapse}">

            <div class="sidebar-right-items" v-for="item in links" v-if="sidebar.layout == item.layout">

                <a v-for="link in item.links" href="/" class="sidebar--item" :class="{active: (sidebar.menu == link.id)}" v-on:click.prevent="setSidebarMenu(link.id)">
                    <svg class="icon-item">
                        <use :xlink:href="'#'+link.icon"></use>
                    </svg>
                    <span>{{link.text}}</span>
                </a>
            </div>

            <div class="sidebar-collapse" v-on:click="toggleCollapse">
                <svg class="icon-arrow">
                    <use xlink:href="#arrow"></use>
                </svg>

                <span>Свернуть</span>
            </div>
        </div>



    </div>
</template>
<script>
    export default {
        data: function () {
            return {

            }
        },
        props: {
            // links: {
            //     type: Array,
            //     default: [],
            // }
            links: false,
        },
        computed: {
            sidebar(){
                return this.$store.getters.sidebar;
            }
        },
        methods: {
            setLayout(layout){
                this.setSidebarMenu(1);
                this.$store.commit('setSidebarLayout', layout);
            },
            setSidebarMenu(menu){
                this.$store.commit('setSidebarMenu', menu);
            },
            toggleCollapse(){
                this.$store.commit('setSidebarCollapse', !this.sidebar.collapse);
            }
        }

    }
</script>