<template>
    <div class="bodywrapper" :class="{collapse: sidebar.collapse}">
        <Sidebar :links="links"></Sidebar>

        <div class="blocks">


            <div class="blocks-top f">
                <h3>Общая аналитика</h3>

                <div class="f datepicker">
                    <datepicker placeholder="Выберите дату" :language="ru" v-model="date"
                                @selected="selectedDatePicker"></datepicker>
                    <button class="button-fill" v-on:click="getData">Примерить</button>
                </div>

                <button class="button" v-on:click="setNewData">Изменить данные</button>
            </div>

            <div class="f j-sp">
                <div class="f fw j-sp w50">
                    <div class="f w100 block m30">

                        <div class="blockData">
                            <div class="blockData-title">Заказов</div>
                            <div class="blockData-count">{{numberWithCommas(data.orders.count)}}</div>
                            <div class="blockData-procent" :class="{plus: (data.orders.procent > 0)}">
                                <svg class="icon-arrow">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                                {{data.orders.procent}}%
                            </div>
                        </div>
                        <div class="blockData">
                            <div class="blockData-title">Выручка</div>
                            <div class="blockData-count">{{numberWithCommas(data.revenue.count)}} <span>руб.</span>
                            </div>
                            <div class="blockData-procent" :class="{plus: (data.revenue.procent > 0)}">
                                <svg class="icon-arrow">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                                {{data.revenue.procent}}%
                            </div>
                        </div>
                        <div class="blockData">
                            <div class="blockData-title">Выработка</div>
                            <div class="blockData-count">{{numberWithCommas(data.production.count)}}
                                <span>чел./час</span></div>
                            <div class="blockData-procent" :class="{plus: (data.production.procent > 0)}">
                                <svg class="icon-arrow">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                                {{data.production.procent}}%
                            </div>
                        </div>

                    </div>
                    <div class="block w50 testBlock1"></div>
                    <div class="block w50 testBlock1"></div>
                </div>
                <div class="w50 block blockChart">
                    <div class="block-title">Эффективность сотрудников</div>
                    <div>Прогресс по выработкам с общими показателями</div>

                    <div class="chart">
                        <chart></chart>
                    </div>
                </div>
            </div>

        </div>

        <div class="preloader" v-if="loader">
            <img src="/images/preloader.png" alt="">
        </div>
    </div>
</template>
<script>
    import Sidebar from "./components/Sidebar.vue";
    import Datepicker from 'vuejs-datepicker';
    import {ru} from 'vuejs-datepicker/dist/locale';

    import chart from "./components/chart";

    export default {
        components: {
            Sidebar,
            Datepicker,
            chart
        },
        data: function () {
            return {
                ru,
                date: '',
                loader: false,
                links: [
                    {
                        layout: 1, links: [
                            {text: 'Общая аналитика', id: 1, icon: 'chart1'},
                            {text: 'Рефтинский филиал', id: 2, icon: 'chart2'},
                            {text: 'Конаковский филиал', id: 3, icon: 'chart2'}
                        ]
                    },{
                        layout: 2, links: [
                            {text: 'Какой пункт по умолчанию', id: 1, icon: 'chart1'},
                            {text: 'Еще какой то пункт', id: 2, icon: 'chart2'},
                            {text: 'И еще', id: 3, icon: 'chart2'}
                        ]
                    },
                ]
            }
        },
        computed: {
            sidebar() {
                return this.$store.getters.sidebar;
            },
            data() {
                return this.$store.getters.data;
            },
            chartData() {
                return {
                    labels: [
                        'КОММУНИКАБЕЛЬНОСТЬ',
                        'КОММУНИКАБЕЛЬНОСТЬ',
                        'КОММУНИКАБЕЛЬНОСТЬ',
                    ],
                    datasets: [{
                        data: [
                            1,
                            2,
                            3,
                        ],
                        backgroundColor: [
                            '#b61272',
                            '#b61272',
                            '#b61272',
                        ],
                    }],
                }
            },
        },
        methods: {
            numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            setNewData() {
                this.$store.commit('setData', this.$func.randomData());
            },
            selectedDatePicker() {
                this.$nextTick(() => console.log(this.date));
            },
            getData() {
                if(this.checkDate()){
                    //Эмитируем загрузку данных
                    this.loader = true;

                    setTimeout(() => {
                        this.loader = false;
                        this.setNewData();
                    }, this.$func.random(3000, 5000));
                }
            },
            checkDate(){
                if (Object.prototype.toString.call(this.date) === "[object Date]") {
                    if (isNaN(this.date.getTime())) {
                        return false;
                    } else {
                        return true;
                    }
                } else {
                    return false;
                }
            }
        }
    }
</script>